<div class="clearfix">
  <h2>Frequently Asked Questions:</h2>
<br>
<br>
  <p>
   Website Questions
   How do I login? Where are my books?
   How do I change my email address?
   Browser/Cart Issues (You Must Enable All Cookies)
  </p>
  <br>
  <h3>About Us and Our Books:</h3>
  <p>
   Who are we, and why do we publish books?
   Beta Book Program
   Ebook Polices and Information
   How to Read Ebooks
   Returns Policy
   Paperback books
   Review Copies
  </p>
  <br>
<h3>Pricing and Payment</h3>
  <p>
    Current Promotions, Coupons, Offers
    Credit Card and Paypal Transactions
    Team, Group, Educational, Foreign, and Bulk Purchases
    Sending a Gift?

  </p>
  <br>
  <h3>Working with Us</h3>
  <p>
    Publish with Us
    Contribute as a Technical Reviewer
    Current Openings

  </p>
  <br>
  <h3>Legal Stuff</h3>
  <p>
    Terms of Use
    Trademarks
    Privacy Policy
  </p>
<p>
Don’t see what you’re looking for? E-mail us and we’ll sort it out.
<a href=mailto:agentavery@sample.com?subject="link HTML">Click here to send us an email!</a>
</p>
<hr>
<h5>Answers</h5>
<hr>
<br>
<h3>How do I login? Where are my books?</h3>
  <p>
    In June 2020 we migrated to a new web store. The new system is faster, friendlier, more responsive and more robust than the previous system. We now use third-party shopping cart and fulfillment by Sendowl.com, you may notice their URL when checking out and downloading.

    Your old password (prior to June 2020) will not work. If you’ve placed an order with us in the last four years, then we have automatically migrated all your orders for books still in print to the new system.

    If you just want to download your books, you can resend your order emails. If you want to create a password to access your orders, enter your email address on the login page and click “Set/reset password.” You’ll receive a link via email to set your new password. If you don’t receive an email, you might not have been migrated, but don’t worry, we can do it manually.

    Most orders for most customers have been migrated to the new system successfully. If you need access to older orders that aren’t showing up, please <a href=mailto:agentavery@sample.com?subject="link HTML">support@bookstore.com</a>
    email support@pragprog.com for assistance.

    The new system is much more conscious of your privacy, and the only account information we keep consists of the products and orders you’ve placed, associated with the email address you provided.
  </p>
  <br>
  <h3>What’s a Beta Book?</h3>
  <p>
    Writing books takes a long time. Our readers used to ask us whether it’s possible to get access to the material in a new book before it has been published—a sort of “beta test” form of the book, if you will. And so the Beta Book program was born. First, the drawbacks:

Before a book gets to the final, ready-to-publish state, it normally looks quite rough. It will have hundreds of typos and grammatical errors. It’s likely to have technical errors that would normally get corrected in a final read-through by reviewers. And it’ll certainly look fairly ugly—we don’t do any layout work until just prior to sending a book to the printer, so there will be widows, orphans, text split across page turns and so on.

The level of completeness of a beta varies by title and by the timing of your purchase. If you buy a beta book closer to the estimated completion date, you will be getting a more complete book. If you buy a beta when it is first released, then it is closer to the 50% complete mark.

Despite these challenges, we think the idea of giving you early access to the latest, cutting-edge, great material is important. It helps you out, and it helps us and the author as we get feedback.
  </p>
</div>