<div class="container-fluid">
<h1>Questions</h1>
<br>
<h5> Publish with Us </h5>
<p>
We’ve got the platform, partnerships, and power to help you share your knowledge with the world, and we want to hear from you today.

To start your conversation with us, send your idea to proposals@pragprog.com. If you’ve got a complete proposal to share, please download and complete our proposal template, and attach that to your email as well:

Proposal Template

We’re looking forward to hearing from you!
</p>
<h5>What makes working with PragProg so great?</h5>
<p>
Writing with PragProg means so much more than just getting published. It means having a team of experts who are driven to help you do your best work and will guide you through the hard parts. A team who really do care about you and your project. It means having your own personal development editor, technical reviewer, and our full-time publicist help you refine and release your best work to the world. It means taking your place among our catalog of award-winning titles, giving you instant recognition and acknowledgement for your expertise.

And, of course, it means being paid one of the absolute highest royalties in traditional publishing — up to 50%.

We’ve also partnered with some of the best content platforms in the industry, and we can help you get your message out across an extensive range of formats.

We’ll help you develop your idea and identify the best uses for your content, and we’ll give you input and feedback from a panel of industry experts that span the globe.

Add it all up, and it means:

A global platform to increase your audience and extend your message;
an experienced publishing partner who makes even the hardest parts easier;
your own personal team of editorial and publishing experts;
your work available everywhere — from local retailers to Amazon and beyond;
input and advice from leaders in the tech industry;
membership in an instantly recognizable and respected community;
and a royalty of up to 50% across the board — books, translations, licensed content, and everything else.
Don’t take our word for it, though. Take it from your peers in this series of interviews with our authors.
</p>
<p>
Test applications, packages, and libraries large and small with pytest, Python’s most powerful testing framework. pytest helps you write tests quickly and keep them readable and maintainable. In this fully revised edition, explore pytest’s superpowers—simple asserts, fixtures, parametrization, markers, and plugins—while creating simple tests and test suites against a small database application. Using a robust yet simple fixture model, it’s just as easy to write small tests with pytest as it is to scale up to complex functional testing. This book shows you how.

</p>
<p>
pytest is undeniably the best choice for testing Python projects. It’s a full-featured, flexible, and extensible testing framework. pytest’s fixture model allows you to share test data and setup procedures across multiple layers of tests. The pytest framework gives you powerful features such as assert rewriting, parametrization, markers, plugins, parallel test execution, and clear test failure reporting—with no boilerplate code.
</p>
</div>